.btn {
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: $font-weight-medium;
  box-shadow: 0 3px 5px 0 #c0c0c0;
  background: linear-gradient(350deg, $color-primary 0%, $color-secondary 100%);
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  margin-top: 1rem;
  transition: all .2s ease-in;

  &:hover {
    @include media-breakpoint-up(lg) {
      box-shadow: 0 3px 14px 0 #c0c0c0;
      transform: translateY(-2px);
    }
  }
}

.back-to-home {
  text-decoration: none;
  color: black;
  padding: 10px;

  &--mobile {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-top: 20px;
      transition: color .2s ease-in-out;

      &:hover {
        color: $color-primary;

        i {
          transform: translateX(-3px);
        }
      }
    }

    i {
      transition: transform .2s ease-in-out;
    }
  }
}
