.btn {
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: $font-weight-medium;
  box-shadow: 0 3px 5px 0 #c0c0c0;
  background: linear-gradient(350deg, $color-primary 0%, $color-secondary 100%);
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
  margin-top: 1rem;
  transition: all .2s ease-in;

  &:hover {
    @include media-breakpoint-up(lg) {
      box-shadow: 0 3px 14px 0 #8f8f8f;
      opacity: .9;
    }
  }
}

.like {
  background: none;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;

  .fa-heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  .fa-regular {
    transition: opacity .2s ease-in-out;
  }

  .fa-solid {
    opacity: 0;
    background: #FF79DA;
    background: linear-gradient(to bottom left, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity .2s ease-in-out;
  }

  &:hover {
    .fa-regular {
      opacity: 0;
    }
    .fa-solid {
      opacity: 1;
    }
  }
}

.back-to-home {
  text-decoration: none;
  color: black;
  padding: 10px;

  &--mobile {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      margin-top: 20px;
      transition: color .2s ease-in-out;

      &:hover {
        color: $color-primary;

        i {
          transform: translateX(-3px);
        }
      }
    }

    i {
      transition: transform .2s ease-in-out;
    }
  }
}
