.font-title {
  font-family: $title-font-family;
}

.style-h1 {
  font-size: 30px;
  font-weight: $font-weight-bold;
}

.style-h2 {
  font-size: 28px;
  font-weight: $font-weight-bold;
  line-height: 1.9rem;
}
